<a href="https://colab.research.google.com/github/alin2025/SQLAlchemy/blob/main/Example1_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Example 01
Show the names of the employees and their job title.

In [9]:
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData, Column, Integer, String, Float
from sqlalchemy import select, desc
from sqlalchemy.sql import func

# Create engine
engine = create_engine('sqlite:///chinook.db', echo=False)

# Create metadata
metadata = MetaData()
conn = engine.connect()

#create employees table
employees = Table('employees', metadata, autoload_with=engine)

# When we create a select() construct, SQLAlchemy looks around at the tables we’ve mentioned
# and then places them in the FROM clause of the statement.
# We can select the entire table or specific columns.
query = select(employees)
result = conn.execute(query)
print(result.fetchmany(5))

[(1, 'Adams', 'Andrew', 'General Manager', None, datetime.datetime(1962, 2, 18, 0, 0), datetime.datetime(2002, 8, 14, 0, 0), '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com'), (2, 'Edwards', 'Nancy', 'Sales Manager', 1, datetime.datetime(1958, 12, 8, 0, 0), datetime.datetime(2002, 5, 1, 0, 0), '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com'), (3, 'Peacock', 'Jane', 'Sales Support Agent', 2, datetime.datetime(1973, 8, 29, 0, 0), datetime.datetime(2002, 4, 1, 0, 0), '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com'), (4, 'Park', 'Margaret', 'Sales Support Agent', 2, datetime.datetime(1947, 9, 19, 0, 0), datetime.datetime(2003, 5, 3, 0, 0), '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com'), (5, 'Johnson', 'Steve', 'Sales Support Agent', 2, datetime.datetime(1965, 3, 3, 0, 0), datetime.datetime(2003, 10, 17, 0, 0), '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')]

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData, select

# Create engine
engine = create_engine('sqlite:///chinook.db', echo=False)

# Create metadata
metadata = MetaData()
conn = engine.connect()

# Create employees table
employees = Table('employees', metadata, autoload_with=engine)

# Construct the query to select specific columns
query = select(employees.columns.FirstName, employees.columns.LastName, employees.columns.Title)

# Execute the query
result = conn.execute(query)

# Fetch and print the first 5 rows
for row in result.fetchmany(5):
    print("Name:", row.FirstName, row.LastName, "- Title:", row.Title)

Example 02

Show the names of the albums which contain the phrase "The best of".

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData, Column, Integer, String, Float
from sqlalchemy import select, desc
from sqlalchemy.sql import func

# Create engine
engine = create_engine('sqlite:///chinook.db', echo=False)

# Create metadata
metadata = MetaData()
conn = engine.connect()

#create albums table
albums = Table('albums', metadata, autoload_with=engine)

# When we create a select() construct, SQLAlchemy looks around at the tables we’ve mentioned
# and then places them in the FROM clause of the statement.
# We can select the entire table or specific columns.
query = select(albums).where(albums.columns.Title.like('%the best of%'))
results = conn.execute(query).fetchall()
#df_albums = pd.DataFrame(results, columns=albums.c.keys())
#df_albums.head()

result = conn.execute(query)
print(result.fetchmany(5))

Example 03

Show the names of all the albums and their artists.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData, Column, Integer, String, Float
from sqlalchemy import select, desc
from sqlalchemy.sql import func

# Create engine
engine = create_engine('sqlite:///chinook.db', echo=False)

# Create metadata
metadata = MetaData()
conn = engine.connect()

#create albums,artists table
artists = Table('artists', metadata, autoload_with=engine)
albums = Table('albums', metadata, autoload_with=engine)

# join between tables
join_stmt = artists.join(albums, artists.c.ArtistId == albums.c.ArtistId)

query = select(albums.c.Title, artists.c.Name).select_from(join_stmt)

result = conn.execute(query)
print(result.fetchmany(5))

Example 04

Show for each customer (name) the number of invoinces they had.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData, Column, Integer, String, Float
from sqlalchemy import select, desc
from sqlalchemy.sql import func

# Create engine
engine = create_engine('sqlite:///chinook.db', echo=False)

# Create metadata
metadata = MetaData()
conn = engine.connect()

#create invoices,customers table
invoices = Table('invoices', metadata, autoload_with=engine)
customers = Table('customers', metadata, autoload_with=engine)

query = select(customers.c.FirstName + " " + customers.c.LastName, func.count(invoices.c.InvoiceId))\
            .select_from(invoices.join(customers, invoices.c.CustomerId == customers.c.CustomerId))\
            .group_by(invoices.c.CustomerId)
result = conn.execute(query)
print(result.fetchmany(5))

Example 05

get albums table to pandas.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData, Column, Integer, String, Float
from sqlalchemy import select, desc
from sqlalchemy.sql import func

# Create engine
engine = create_engine('sqlite:///chinook.db', echo=False)

# Create metadata
metadata = MetaData()
conn = engine.connect()

#create albums,customers table
albums = Table('albums', metadata, autoload_with=engine)

query = select(albums)
result = conn.execute(query)

df_albums = pd.DataFrame(result.fetchall(), columns=result.keys())
print(df_albums.head())

Example 06

Create tables and database

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData, Column, Integer, String, Float
from sqlalchemy import select, desc
from sqlalchemy.sql import func

# Create engine
engine = create_engine('sqlite:///:memory:', echo=False)
# Create metadata
metadata = MetaData()

users = Table('users', metadata,
    Column('id', Integer),
    Column('name', String),
    Column('fullname', String),
)

addresses = Table('addresses', metadata,
    Column('id', Integer),
    Column('user_id', Integer),
    Column('email_address', String)
)

metadata.create_all(engine)

# All operations are sent to the database through the connection object.
conn = engine.connect()

query = users.insert().values(id=1234, name='jack', fullname='Jack Jones')
result = conn.execute(query)

query = select(users)
result = conn.execute(query)
print(result.fetchmany(5))