<a href="https://colab.research.google.com/github/alin2025/SQLAlchemy/blob/main/Exrecise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

'''
Part 1
- create the tables tracks, albums and artists both as SQLAlchemy Tables
and print 10 records from any table.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData, Column, Integer, String, Float
from sqlalchemy import select, desc
from sqlalchemy.sql import func

In [ ]:
# Create engine
engine = create_engine('sqlite:///chinook.db', echo=False)

# Create metadata
metadata = MetaData()
conn = engine.connect()

In [ ]:
# Tracks
tracks = Table('tracks', metadata, autoload_with=engine)
query = select(tracks)
results = conn.execute(query).fetchall()
df_tracks = pd.DataFrame(results, columns=tracks.c.keys())
print(df_tracks.head())

In [ ]:
# Albums
albums = Table('albums', metadata, autoload_with=engine)
query = select(albums)
results = conn.execute(query).fetchall()
df_albums = pd.DataFrame(results, columns=albums.c.keys())
print(df_albums.head())

In [ ]:
# Artists
artists = Table('artists', metadata, autoload_with=engine)
query = select(artists)
results = conn.execute(query).fetchall()
df_artists = pd.DataFrame(results, columns=artists.c.keys())
print(df_artists.head())

Part 2
- from tracks table filter only the 3th 'AlbumId'
and print 10 records from any table.
'''

In [ ]:
tracks = Table('tracks', metadata, autoload_with=engine)
query = select(tracks).where(tracks.columns.AlbumId == 3)  # Filter by the third AlbumId
results = conn.execute(query).fetchall()
df_filtered_tracks = pd.DataFrame(results, columns=tracks.c.keys())
print(df_filtered_tracks.head(2))