<a href="https://colab.research.google.com/github/alin2025/SQLAlchemy/blob/main/SQLAlchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip index versions sqlalchemy

WARNING: pip index is currently an experimental command. It may be removed/changed in a future release without prior warning.
sqlalchemy (2.0.27)
Available versions: 2.0.27, 2.0.26, 2.0.25, 2.0.24, 2.0.23, 2.0.22, 2.0.21, 2.0.20, 2.0.19, 2.0.18, 2.0.17, 2.0.16, 2.0.15, 2.0.14, 2.0.13, 2.0.12, 2.0.11, 2.0.10, 2.0.9, 2.0.8, 2.0.7, 2.0.6, 2.0.5.post1, 2.0.4, 2.0.3, 2.0.2, 2.0.1, 2.0.0, 1.4.51, 1.4.50, 1.4.49, 1.4.48, 1.4.47, 1.4.46, 1.4.45, 1.4.44, 1.4.43, 1.4.42, 1.4.41, 1.4.40, 1.4.39, 1.4.38, 1.4.37, 1.4.36, 1.4.35, 1.4.32, 1.4.31, 1.4.30, 1.4.29, 1.4.28, 1.4.27, 1.4.26, 1.4.25, 1.4.24, 1.4.23, 1.4.22, 1.4.21, 1.4.20, 1.4.19, 1.4.18, 1.4.17, 1.4.16, 1.4.15, 1.4.14, 1.4.13, 1.4.12, 1.4.11, 1.4.10, 1.4.9, 1.4.8, 1.4.7, 1.4.6, 1.4.5, 1.4.4, 1.4.3, 1.4.2, 1.4.1, 1.4.0, 1.3.24, 1.3.23, 1.3.22, 1.3.21, 1.3.20, 1.3.19, 1.3.18, 1.3.17, 1.3.16, 1.3.15, 1.3.14, 1.3.13, 1.3.12, 1.3.11, 1.3.10, 1.3.9, 1.3.8, 1.3.7, 1.3.6, 1.3.5, 1.3.4, 1.3.3, 1.3.2, 1.3.1, 1.3.0, 1.2.19, 1.2.18, 1.2.17, 1.2.16, 1.2.15, 1.2.14, 1.2.13, 1.2.12, 1.2.11, 1.2.10, 1.2.9, 1.2.8, 1.2.7, 1.2.6, 1.2.5, 1.2.4, 1.2.3, 1.2.2, 1.2.1, 1.2.0, 1.1.18, 1.1.17, 1.1.16, 1.1.15, 1.1.14, 1.1.13, 1.1.12, 1.1.11, 1.1.10, 1.1.9, 1.1.8, 1.1.7, 1.1.6, 1.1.5, 1.1.4, 1.1.3, 1.1.2, 1.1.1, 1.1.0, 1.0.19, 1.0.18, 1.0.17, 1.0.16, 1.0.15, 1.0.14, 1.0.13, 1.0.12, 1.0.11, 1.0.10, 1.0.9, 1.0.8, 1.0.7, 1.0.6, 1.0.5, 1.0.4, 1.0.3, 1.0.2, 1.0.1, 1.0.0, 0.9.10, 0.9.9, 0.9.8, 0.9.7, 0.9.6, 0.9.5, 0.9.4, 0.9.3, 0.9.2, 0.9.1, 0.9.0, 0.8.7, 0.8.6, 0.8.5, 0.8.4, 0.8.3, 0.8.2, 0.8.1, 0.8.0, 0.7.10, 0.7.9, 0.7.8, 0.7.7, 0.7.6, 0.7.5, 0.7.4, 0.7.3, 0.7.2, 0.7.1, 0.7.0, 0.6.9, 0.6.8, 0.6.7, 0.6.6, 0.6.5, 0.6.4, 0.6.3, 0.6.2, 0.6.1, 0.6.0, 0.5.8, 0.5.7, 0.5.6, 0.5.5, 0.5.4, 0.5.3, 0.5.2, 0.5.1, 0.5.0, 0.4.8, 0.4.7, 0.4.6, 0.4.5, 0.4.4, 0.4.3, 0.4.2, 0.4.1, 0.4.0, 0.3.11, 0.3.10, 0.3.9, 0.3.8, 0.3.7, 0.3.6, 0.3.5, 0.3.4, 0.3.3, 0.3.2, 0.3.1, 0.3.0, 0.2.8, 0.2.7, 0.2.6, 0.2.5, 0.2.4, 0.2.3, 0.2.2, 0.2.1, 0.2.0, 0.1.7, 0.1.6, 0.1.5, 0.1.4, 0.1.3, 0.1.2, 0.1.1, 0.1.0
  INSTALLED: 2.0.27
  LATEST:    2.0.27

In [1]:
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData, Column, Integer, String, Float,inspect
from sqlalchemy import select, desc
from sqlalchemy.sql import func,text
import sqlalchemy

> **Reference:** [Excellent SQLAlchemy tutorial with examples by Vinay Kudari](https://towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91)

# SQLAlchemy basic concepts

[**SQLAlchemy**](http://docs.sqlalchemy.org/en/latest/core/engines.html) provides a nice “Pythonic” way of interacting with databases. So rather than dealing with the differences between specific dialects of traditional SQL such as MySQL or PostgreSQL or Oracle, you can leverage the Pythonic framework of SQLAlchemy to streamline your workflow and more efficiently query your data.

In this example we will interact with an [**SQLite**](http://www.sqlitetutorial.net/) database, which is a C library that provides a lightweight disk-based database. We will work in front of an existing DB called [`chinook`](http://www.sqlitetutorial.net/sqlite-sample-database).

In [ ]:
import sys
if 'google.colab' in sys.modules:
    from google.colab import files
    uploaded = files.upload()

Saving chinook.db to chinook.db

## Engine

[Engine](http://docs.sqlalchemy.org/en/latest/core/connections.html#sqlalchemy.engine.Engine) is the most fundamental object of SQLAlchemy, and it defines the database we work with.

In [2]:
engine = sqlalchemy.create_engine('sqlite:///chinook.db', echo=False)

In [3]:
Inspector=inspect(engine)
Inspector.get_table_names()

['albums',
 'artists',
 'customers',
 'employees',
 'genres',
 'invoice_items',
 'invoices',
 'media_types',
 'playlist_track',
 'playlists',
 'tracks']

## MetaData

Database tables in SQLAlchemy belong (are linked to) a [metadata](https://docs.sqlalchemy.org/en/13/core/connections.html#connectionless-execution-implicit-execution) object.

In [4]:
metadata = sqlalchemy.MetaData()

In [11]:
metadata.tables.keys()

dict_keys(['employees', 'albums', 'artists'])

## [`Table`](https://docs.sqlalchemy.org/en/13/core/metadata.html#sqlalchemy.schema.Table)

In [10]:
albums = Table('albums', metadata, autoload_with=engine)

In [12]:
albums.c.keys()

['AlbumId', 'Title', 'ArtistId']

> **Discussion:** What is the difference between Python's Table and SQL's Table? Mention the concept of DB API.

Python's Table and SQL's Table refer to different concepts in the context of programming languages and database management systems (DBMS).

Python's Table: In Python, a Table typically refers to a data structure or object used to store and manipulate tabular data, often in memory.
Python doesn't have a built-in Table class, but there are libraries like pandas that provide a DataFrame object, which is essentially a table-like structure for data manipulation and analysis.

SQL's Table: In SQL databases, a Table is a fundamental concept representing a collection of related data organized in rows and columns. SQL tables are defined within a relational database management system (RDBMS) and are used to store and manage structured data.

while both Python and SQL involve the concept of tables, they operate in different domains:

Python's tables are typically used for in-memory data manipulation within Python programs, while

SQL's tables are used for storing and managing structured data within a database management system.

The DB API provides a standard way for Python programs to interact with SQL databases, enabling tasks such as executing queries, fetching results, and managing database connections.

## Connection

The `connect()` method returns a [*Connection*][con] object, through which we can send commands to the database.

[con]: http://docs.sqlalchemy.org/en/latest/core/connections.html#sqlalchemy.engine.Connection "Connection docs"

In [13]:
conn = engine.connect()

# Executing DB operations

Using SQLAlchemy, the `Connection`'s [`execute(object_)`](https://docs.sqlalchemy.org/en/13/core/connections.html#sqlalchemy.engine.Connection.execute) method executes SQL commands in 2 optional ways, either by sending explicit SQL commands, or by wrapping them with Pythonic objects.

## SQL statements

A straight-forward approach would be to use our connection and "send" SQL commands.

In [14]:
query = text('''
SELECT * FROM albums
WHERE Title LIKE '%the best of%'
''')

In [15]:
result = conn.execute(query)

The result is a [`ResultProxy`](https://docs.sqlalchemy.org/en/13/core/connections.html#sqlalchemy.engine.ResultProxy). which is an iterator.

In [18]:
result.fetchmany(5)

[(243, 'The Best Of Van Halen, Vol. I', 152),
 (257, '20th Century Masters - The Millennium Collection: The Best of Scorpions', 179),
 (268, 'The Best of Beethoven', 203)]

> **Note:** `ResultProxy` is an iterator. What will happen if we run `fetchmany()` again?

> **Discussion:** To execute queries this way you have to be proficient in SQL. Pros and cons...

## [`ClauseElement`](https://docs.sqlalchemy.org/en/latest/core/sqlelement.html#sqlalchemy.sql.expression.ClauseElement)

**The power of an API lies in its objects**, and SQLAlchemy provides "Pythonic" objects to represent SQL functionalities. More specifically, we will be interested in  [`FromClause`](https://docs.sqlalchemy.org/en/13/core/selectable.html#sqlalchemy.sql.expression.FromClause) elements.

> **Reference:** More information about the available expressions (virtually most of SQL functionality) can be found in this [SQL expression language tutorial by SQLAlchemy](https://docs.sqlalchemy.org/en/13/core/tutorial.html#sql-expression-language-tutorial).

### Example 1 - select

**Task - Show the names of the employees and their job title.**

We will demonstrate the API with the [`select()`](https://docs.sqlalchemy.org/en/13/core/selectable.html#sqlalchemy.sql.expression.select) method, which returns a [`Select`](https://docs.sqlalchemy.org/en/13/core/selectable.html?highlight=select#sqlalchemy.sql.expression.Select) object.

Let's demonstrate with the *employees* table.

In [19]:
employees = Table('employees', metadata, autoload_with=engine)

When we create a `select()` construct, SQLAlchemy looks around at the tables we’ve mentioned and then places them in the FROM clause of the statement. We can select the entire table or specific columns.

In [20]:
query = sqlalchemy.select(employees)
# query = select(employees.c.EmployeeId, employees.c.FirstName, employees.c.LastName, employees.c.Title)

> **Discussion:** Discuss the [`Select`](https://docs.sqlalchemy.org/en/13/core/selectable.html?highlight=select#sqlalchemy.sql.expression.Select) object and its available properties.

In [21]:
print(str(query))

SELECT employees."EmployeeId", employees."LastName", employees."FirstName", employees."Title", employees."ReportsTo", employees."BirthDate", employees."HireDate", employees."Address", employees."City", employees."State", employees."Country", employees."PostalCode", employees."Phone", employees."Fax", employees."Email"
FROM employees

In [26]:
result = conn.execute(query)

In [28]:
result.fetchall()

[]

### Example 2 - select-where

**Task - Show the names of the albums which contain the phrase "The best of"**.

We can use the `whereclause` argument of `select()`

In [29]:
artists = Table('artists', metadata, autoload_with=engine)
albums = Table('albums', metadata, autoload_with=engine)

In [30]:
query = select(
    albums.c.Title
).where(
    albums.c.Title.like('%the best of%')
)

Alternatively, we can use the `where()` method of the `Select` object.

In [31]:
query = select(albums).where(albums.columns.Title.like('%the best of%'))

In [32]:
result = conn.execute(query)

In [33]:
result.fetchmany(5)

[(13, 'The Best Of Billy Cobham', 10),
 (20, 'The Best Of Buddy Guy - The Millenium Collection', 15),
 (47, 'The Best of Ed Motta', 37),
 (61, "Knocking at Your Back Door: The Best Of Deep Purple in the 80's", 58),
 (83, 'My Way: The Best Of Frank Sinatra [Disc 1]', 85)]

### Example 3 - join

**Task - Show the names of all the albums and their artists.**

We use the [`join()`](https://docs.sqlalchemy.org/en/13/core/metadata.html?highlight=join#sqlalchemy.schema.Table.join) method.

In [34]:
join_stmt = artists.join(albums, artists.c.ArtistId == albums.c.ArtistId)

Now we can select from this Join object.

In [35]:
import sqlalchemy
from sqlalchemy import select, join

# Create the engine
engine = sqlalchemy.create_engine('sqlite:///chinook.db', echo=False)

# Define the metadata
metadata = sqlalchemy.MetaData()

# Reflect the tables
metadata.reflect(bind=engine)

# Get the 'albums' and 'artists' tables from metadata
albums = metadata.tables['albums']
artists = metadata.tables['artists']

# Define the join condition
join_stmt = join(albums, artists, albums.c.ArtistId == artists.c.ArtistId)

# Establish a connection
conn = engine.connect()

# Define the query to select columns from both tables and join them
query = select(
    albums.c.Title,
    artists.c.Name
).select_from(
    join_stmt
)

# Execute the query on the connection
result = conn.execute(query)

# Fetch the results
for row in result:
    print(row)

# Close the connection
#conn.close()

('For Those About To Rock We Salute You', 'AC/DC')
('Balls to the Wall', 'Accept')
('Restless and Wild', 'Accept')
('Let There Be Rock', 'AC/DC')
('Big Ones', 'Aerosmith')
('Jagged Little Pill', 'Alanis Morissette')
('Facelift', 'Alice In Chains')
('Warner 25 Anos', 'Antônio Carlos Jobim')
('Plays Metallica By Four Cellos', 'Apocalyptica')
('Audioslave', 'Audioslave')
('Out Of Exile', 'Audioslave')
('BackBeat Soundtrack', 'BackBeat')
('The Best Of Billy Cobham', 'Billy Cobham')
('Alcohol Fueled Brewtality Live! [Disc 1]', 'Black Label Society')
('Alcohol Fueled Brewtality Live! [Disc 2]', 'Black Label Society')
('Black Sabbath', 'Black Sabbath')
('Black Sabbath Vol. 4 (Remaster)', 'Black Sabbath')
('Body Count', 'Body Count')
('Chemical Wedding', 'Bruce Dickinson')
('The Best Of Buddy Guy - The Millenium Collection', 'Buddy Guy')
('Prenda Minha', 'Caetano Veloso')
('Sozinho Remix Ao Vivo', 'Caetano Veloso')
('Minha Historia', 'Chico Buarque')
('Afrociberdelia', 'Chico Science & Nação Zumbi')
('Da Lama Ao Caos', 'Chico Science & Nação Zumbi')
('Acústico MTV [Live]', 'Cidade Negra')
('Cidade Negra - Hits', 'Cidade Negra')
('Na Pista', 'Cláudio Zoli')
('Axé Bahia 2001', 'Various Artists')
('BBC Sessions [Disc 1] [Live]', 'Led Zeppelin')
('Bongo Fury', 'Frank Zappa & Captain Beefheart')
('Carnaval 2001', 'Various Artists')
('Chill: Brazil (Disc 1)', 'Marcos Valle')
('Chill: Brazil (Disc 2)', 'Antônio Carlos Jobim')
('Garage Inc. (Disc 1)', 'Metallica')
('Greatest Hits II', 'Queen')
('Greatest Kiss', 'Kiss')
('Heart of the Night', 'Spyro Gyra')
('International Superhits', 'Green Day')
('Into The Light', 'David Coverdale')
('Meus Momentos', 'Gonzaguinha')
('Minha História', 'Os Mutantes')
('MK III The Final Concerts [Disc 1]', 'Deep Purple')
('Physical Graffiti [Disc 1]', 'Led Zeppelin')
('Sambas De Enredo 2001', 'Various Artists')
('Supernatural', 'Santana')
('The Best of Ed Motta', 'Ed Motta')
('The Essential Miles Davis [Disc 1]', 'Miles Davis')
('The Essential Miles Davis [Disc 2]', 'Miles Davis')
('The Final Concerts (Disc 2)', 'Deep Purple')
("Up An' Atom", 'Gene Krupa')
('Vinícius De Moraes - Sem Limite', 'Toquinho & Vinícius')
('Vozes do MPB', 'Various Artists')
('Chronicle, Vol. 1', 'Creedence Clearwater Revival')
('Chronicle, Vol. 2', 'Creedence Clearwater Revival')
('Cássia Eller - Coleção Sem Limite [Disc 2]', 'Cássia Eller')
('Cássia Eller - Sem Limite [Disc 1]', 'Cássia Eller')
('Come Taste The Band', 'Deep Purple')
('Deep Purple In Rock', 'Deep Purple')
('Fireball', 'Deep Purple')
("Knocking at Your Back Door: The Best Of Deep Purple in the 80's", 'Deep Purple')
('Machine Head', 'Deep Purple')
('Purpendicular', 'Deep Purple')
('Slaves And Masters', 'Deep Purple')
('Stormbringer', 'Deep Purple')
('The Battle Rages On', 'Deep Purple')
("Vault: Def Leppard's Greatest Hits", 'Def Leppard')
('Outbreak', 'Dennis Chambers')
('Djavan Ao Vivo - Vol. 02', 'Djavan')
('Djavan Ao Vivo - Vol. 1', 'Djavan')
('Elis Regina-Minha História', 'Elis Regina')
('The Cream Of Clapton', 'Eric Clapton')
('Unplugged', 'Eric Clapton')
('Album Of The Year', 'Faith No More')
('Angel Dust', 'Faith No More')
('King For A Day Fool For A Lifetime', 'Faith No More')
('The Real Thing', 'Faith No More')
('Deixa Entrar', 'Falamansa')
('In Your Honor [Disc 1]', 'Foo Fighters')
('In Your Honor [Disc 2]', 'Foo Fighters')
('One By One', 'Foo Fighters')
('The Colour And The Shape', 'Foo Fighters')
('My Way: The Best Of Frank Sinatra [Disc 1]', 'Frank Sinatra')
('Roda De Funk', 'Funk Como Le Gusta')
('As Canções de Eu Tu Eles', 'Gilberto Gil')
('Quanta Gente Veio Ver (Live)', 'Gilberto Gil')
('Quanta Gente Veio ver--Bônus De Carnaval', 'Gilberto Gil')
('Faceless', 'Godsmack')
('American Idiot', 'Green Day')
('Appetite for Destruction', "Guns N' Roses")
('Use Your Illusion I', "Guns N' Roses")
('Use Your Illusion II', "Guns N' Roses")
('Blue Moods', 'Incognito')
('A Matter of Life and Death', 'Iron Maiden')
('A Real Dead One', 'Iron Maiden')
('A Real Live One', 'Iron Maiden')
('Brave New World', 'Iron Maiden')
('Dance Of Death', 'Iron Maiden')
('Fear Of The Dark', 'Iron Maiden')
('Iron Maiden', 'Iron Maiden')
('Killers', 'Iron Maiden')
('Live After Death', 'Iron Maiden')
('Live At Donington 1992 (Disc 1)', 'Iron Maiden')
('Live At Donington 1992 (Disc 2)', 'Iron Maiden')
('No Prayer For The Dying', 'Iron Maiden')
('Piece Of Mind', 'Iron Maiden')
('Powerslave', 'Iron Maiden')
('Rock In Rio [CD1]', 'Iron Maiden')
('Rock In Rio [CD2]', 'Iron Maiden')
('Seventh Son of a Seventh Son', 'Iron Maiden')
('Somewhere in Time', 'Iron Maiden')
('The Number of The Beast', 'Iron Maiden')
('The X Factor', 'Iron Maiden')
('Virtual XI', 'Iron Maiden')
('Sex Machine', 'James Brown')
('Emergency On Planet Earth', 'Jamiroquai')
('Synkronized', 'Jamiroquai')
('The Return Of The Space Cowboy', 'Jamiroquai')
('Get Born', 'JET')
('Are You Experienced?', 'Jimi Hendrix')
('Surfing with the Alien (Remastered)', 'Joe Satriani')
('Jorge Ben Jor 25 Anos', 'Jorge Ben')
('Jota Quest-1995', 'Jota Quest')
('Cafezinho', 'João Suplicy')
('Living After Midnight', 'Judas Priest')
('Unplugged [Live]', 'Kiss')
('BBC Sessions [Disc 2] [Live]', 'Led Zeppelin')
('Coda', 'Led Zeppelin')
('Houses Of The Holy', 'Led Zeppelin')
('In Through The Out Door', 'Led Zeppelin')
('IV', 'Led Zeppelin')
('Led Zeppelin I', 'Led Zeppelin')
('Led Zeppelin II', 'Led Zeppelin')
('Led Zeppelin III', 'Led Zeppelin')
('Physical Graffiti [Disc 2]', 'Led Zeppelin')
('Presence', 'Led Zeppelin')
('The Song Remains The Same (Disc 1)', 'Led Zeppelin')
('The Song Remains The Same (Disc 2)', 'Led Zeppelin')
('A TempestadeTempestade Ou O Livro Dos Dias', 'Legião Urbana')
('Mais Do Mesmo', 'Legião Urbana')
('Greatest Hits', 'Lenny Kravitz')
('Lulu Santos - RCA 100 Anos De Música - Álbum 01', 'Lulu Santos')
('Lulu Santos - RCA 100 Anos De Música - Álbum 02', 'Lulu Santos')
('Misplaced Childhood', 'Marillion')
('Barulhinho Bom', 'Marisa Monte')
('Seek And Shall Find: More Of The Best (1963-1981)', 'Marvin Gaye')
('The Best Of Men At Work', 'Men At Work')
('Black Album', 'Metallica')
('Garage Inc. (Disc 2)', 'Metallica')
("Kill 'Em All", 'Metallica')
('Load', 'Metallica')
('Master Of Puppets', 'Metallica')
('ReLoad', 'Metallica')
('Ride The Lightning', 'Metallica')
('St. Anger', 'Metallica')
('...And Justice For All', 'Metallica')
('Miles Ahead', 'Miles Davis')
('Milton Nascimento Ao Vivo', 'Milton Nascimento')
('Minas', 'Milton Nascimento')
('Ace Of Spades', 'Motörhead')
('Demorou...', 'Mônica Marianno')
('Motley Crue Greatest Hits', 'Mötley Crüe')
('From The Muddy Banks Of The Wishkah [Live]', 'Nirvana')
('Nevermind', 'Nirvana')
('Compositores', 'O Terço')
('Olodum', 'Olodum')
('Acústico MTV', 'Os Paralamas Do Sucesso')
('Arquivo II', 'Os Paralamas Do Sucesso')
('Arquivo Os Paralamas Do Sucesso', 'Os Paralamas Do Sucesso')
('Bark at the Moon (Remastered)', 'Ozzy Osbourne')
('Blizzard of Ozz', 'Ozzy Osbourne')
('Diary of a Madman (Remastered)', 'Ozzy Osbourne')
('No More Tears (Remastered)', 'Ozzy Osbourne')
('Tribute', 'Ozzy Osbourne')
('Walking Into Clarksdale', 'Page & Plant')
('Original Soundtracks 1', 'Passengers')
('The Beast Live', "Paul D'Ianno")
('Live On Two Legs [Live]', 'Pearl Jam')
('Pearl Jam', 'Pearl Jam')
('Riot Act', 'Pearl Jam')
('Ten', 'Pearl Jam')
('Vs.', 'Pearl Jam')
('Dark Side Of The Moon', 'Pink Floyd')
('Os Cães Ladram Mas A Caravana Não Pára', 'Planet Hemp')
('Greatest Hits I', 'Queen')
('News Of The World', 'Queen')
('Out Of Time', 'R.E.M. Feat. Kate Pearson')
('Green', 'R.E.M.')
('New Adventures In Hi-Fi', 'R.E.M.')
('The Best Of R.E.M.: The IRS Years', 'R.E.M.')
('Cesta Básica', 'Raimundos')
('Raul Seixas', 'Raul Seixas')
('Blood Sugar Sex Magik', 'Red Hot Chili Peppers')
('By The Way', 'Red Hot Chili Peppers')
('Californication', 'Red Hot Chili Peppers')
('Retrospective I (1974-1980)', 'Rush')
('Santana - As Years Go By', 'Santana')
('Santana Live', 'Santana')
('Maquinarama', 'Skank')
('O Samba Poconé', 'Skank')
('Judas 0: B-Sides and Rarities', 'Smashing Pumpkins')
('Rotten Apples: Greatest Hits', 'Smashing Pumpkins')
('A-Sides', 'Soundgarden')
('Morning Dance', 'Spyro Gyra')
('In Step', 'Stevie Ray Vaughan & Double Trouble')
('Core', 'Stone Temple Pilots')
('Mezmerize', 'System Of A Down')
('[1997] Black Light Syndrome', 'Terry Bozzio, Tony Levin & Steve Stevens')
('Live [Disc 1]', 'The Black Crowes')
('Live [Disc 2]', 'The Black Crowes')
('The Singles', 'The Clash')
('Beyond Good And Evil', 'The Cult')
('Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK]', 'The Cult')
('The Doors', 'The Doors')
('The Police Greatest Hits', 'The Police')
('Hot Rocks, 1964-1971 (Disc 1)', 'The Rolling Stones')
('No Security', 'The Rolling Stones')
('Voodoo Lounge', 'The Rolling Stones')
('Tangents', 'The Tea Party')
('Transmission', 'The Tea Party')
('My Generation - The Very Best Of The Who', 'The Who')
('Serie Sem Limite (Disc 1)', 'Tim Maia')
('Serie Sem Limite (Disc 2)', 'Tim Maia')
('Acústico', 'Titãs')
('Volume Dois', 'Titãs')
('Battlestar Galactica: The Story So Far', 'Battlestar Galactica')
('Battlestar Galactica, Season 3', 'Battlestar Galactica')
('Heroes, Season 1', 'Heroes')
('Lost, Season 3', 'Lost')
('Lost, Season 1', 'Lost')
('Lost, Season 2', 'Lost')
('Achtung Baby', 'U2')
("All That You Can't Leave Behind", 'U2')
('B-Sides 1980-1990', 'U2')
('How To Dismantle An Atomic Bomb', 'U2')
('Pop', 'U2')
('Rattle And Hum', 'U2')
('The Best Of 1980-1990', 'U2')
('War', 'U2')
('Zooropa', 'U2')
('UB40 The Best Of - Volume Two [UK]', 'UB40')
('Diver Down', 'Van Halen')
('The Best Of Van Halen, Vol. I', 'Van Halen')
('Van Halen', 'Van Halen')
('Van Halen III', 'Van Halen')
('Contraband', 'Velvet Revolver')
('Vinicius De Moraes', 'Vinícius De Moraes')
('Ao Vivo [IMPORT]', 'Zeca Pagodinho')
('The Office, Season 1', 'The Office')
('The Office, Season 2', 'The Office')
('The Office, Season 3', 'The Office')
('Un-Led-Ed', 'Dread Zeppelin')
('Battlestar Galactica (Classic), Season 1', 'Battlestar Galactica (Classic)')
('Aquaman', 'Aquaman')
('Instant Karma: The Amnesty International Campaign to Save Darfur', 'U2')
('Speak of the Devil', 'Ozzy Osbourne')
('20th Century Masters - The Millennium Collection: The Best of Scorpions', 'Scorpions')
('House of Pain', 'House Of Pain')
('Radio Brasil (O Som da Jovem Vanguarda) - Seleccao de Henrique Amaro', 'O Rappa')
('Cake: B-Sides and Rarities', 'Cake')
('LOST, Season 4', 'Lost')
('Quiet Songs', 'Aisha Duo')
('Muso Ko', 'Habib Koité and Bamada')
('Realize', 'Karsh Kale')
('Every Kind of Light', 'The Posies')
('Duos II', 'Luciana Souza/Romero Lubambo')
('Worlds', 'Aaron Goldberg')
('The Best of Beethoven', 'Nicolaus Esterhazy Sinfonia')
('Temple of the Dog', 'Temple of the Dog')
('Carry On', 'Chris Cornell')
('Revelations', 'Audioslave')
('Adorate Deum: Gregorian Chant from the Proper of the Mass', 'Alberto Turco & Nova Schola Gregoriana')
('Allegri: Miserere', 'Richard Marlow & The Choir of Trinity College, Cambridge')
('Pachelbel: Canon & Gigue', 'English Concert & Trevor Pinnock')
('Vivaldi: The Four Seasons', 'Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker')
('Bach: Violin Concertos', 'Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer')
('Bach: Goldberg Variations', 'Wilhelm Kempff')
('Bach: The Cello Suites', 'Yo-Yo Ma')
('Handel: The Messiah (Highlights)', 'Scholars Baroque Ensemble')
('The World of Classical Favourites', 'Academy of St. Martin in the Fields & Sir Neville Marriner')
('Sir Neville Marriner: A Celebration', 'Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner')
('Mozart: Wind Concertos', 'Berliner Philharmoniker, Claudio Abbado & Sabine Meyer')
('Haydn: Symphonies 99 - 104', 'Royal Philharmonic Orchestra & Sir Thomas Beecham')
('Beethoven: Symhonies Nos. 5 & 6', 'Orchestre Révolutionnaire et Romantique & John Eliot Gardiner')
('A Soprano Inspired', 'Britten Sinfonia, Ivor Bolton & Lesley Garrett')
('Great Opera Choruses', 'Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti')
('Wagner: Favourite Overtures', 'Sir Georg Solti & Wiener Philharmoniker')
('Fauré: Requiem, Ravel: Pavane & Others', 'Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair')
('Tchaikovsky: The Nutcracker', 'London Symphony Orchestra & Sir Charles Mackerras')
('The Last Night of the Proms', 'Barry Wordsworth & BBC Concert Orchestra')
('Puccini: Madama Butterfly - Highlights', 'Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker')
('Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies', 'Eugene Ormandy')
("Pavarotti's Opera Made Easy", 'Luciano Pavarotti')
("Great Performances - Barber's Adagio and Other Romantic Favorites for Strings", 'Leonard Bernstein & New York Philharmonic')
('Carmina Burana', 'Boston Symphony Orchestra & Seiji Ozawa')
('A Copland Celebration, Vol. I', 'Aaron Copland & London Symphony Orchestra')
('Bach: Toccata & Fugue in D Minor', 'Ton Koopman')
('Prokofiev: Symphony No.1', 'Sergei Prokofiev & Yuri Temirkanov')
('Scheherazade', 'Chicago Symphony Orchestra & Fritz Reiner')
('Bach: The Brandenburg Concertos', 'Orchestra of The Age of Enlightenment')
('Chopin: Piano Concertos Nos. 1 & 2', 'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra')
('Mascagni: Cavalleria Rusticana', 'James Levine')
('Sibelius: Finlandia', 'Berliner Philharmoniker & Hans Rosbaud')
('Beethoven Piano Sonatas: Moonlight & Pastorale', 'Maurizio Pollini')
('Great Recordings of the Century - Mahler: Das Lied von der Erde', 'Gustav Mahler')
('Elgar: Cello Concerto & Vaughan Williams: Fantasias', 'Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos')
('Adams, John: The Chairman Dances', 'Edo de Waart & San Francisco Symphony')
("Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory", 'Antal Doráti & London Symphony Orchestra')
('Palestrina: Missa Papae Marcelli & Allegri: Miserere', 'Choir Of Westminster Abbey & Simon Preston')
('Prokofiev: Romeo & Juliet', 'Michael Tilson Thomas & San Francisco Symphony')
('Strauss: Waltzes', 'Eugene Ormandy')
('Berlioz: Symphonie Fantastique', 'Michael Tilson Thomas & San Francisco Symphony')
('Bizet: Carmen Highlights', 'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker')
('English Renaissance', "The King's Singers")
('Handel: Music for the Royal Fireworks (Original Version 1749)', 'English Concert & Trevor Pinnock')
('Grieg: Peer Gynt Suites & Sibelius: Pelléas et Mélisande', 'Berliner Philharmoniker & Herbert Von Karajan')
('Mozart Gala: Famous Arias', 'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker')
('SCRIABIN: Vers la flamme', "Christopher O'Riley")
('Armada: Music from the Courts of England and Spain', 'Fretwork')
('Mozart: Symphonies Nos. 40 & 41', 'Berliner Philharmoniker & Herbert Von Karajan')
('Back to Black', 'Amy Winehouse')
('Frank', 'Amy Winehouse')
('Carried to Dust (Bonus Track Version)', 'Calexico')
("Beethoven: Symphony No. 6 'Pastoral' Etc.", 'Otto Klemperer & Philharmonia Orchestra')
('Bartok: Violin & Viola Concertos', 'Yehudi Menuhin')
("Mendelssohn: A Midsummer Night's Dream", 'Philharmonia Orchestra & Sir Neville Marriner')
('Bach: Orchestral Suites Nos. 1 - 4', 'Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart')
('Charpentier: Divertissements, Airs & Concerts', 'Les Arts Florissants & William Christie')
('South American Getaway', 'The 12 Cellists of The Berlin Philharmonic')
('Górecki: Symphony No. 3', 'Adrian Leaper & Doreen de Feis')
('Purcell: The Fairy Queen', 'Roger Norrington, London Classical Players')
('The Ultimate Relexation Album', "Charles Dutoit & L'Orchestre Symphonique de Montréal")
('Purcell: Music for the Queen Mary', 'Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir')
('Weill: The Seven Deadly Sins', "Kent Nagano and Orchestre de l'Opéra de Lyon")
('J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro', 'Julian Bream')
('Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps', 'Berliner Philharmoniker & Herbert Von Karajan')
('Szymanowski: Piano Works, Vol. 1', 'Martin Roscoe')
('Nielsen: The Six Symphonies', 'Göteborgs Symfoniker & Neeme Järvi')
("Great Recordings of the Century: Paganini's 24 Caprices", 'Itzhak Perlman')
("Liszt - 12 Études D'Execution Transcendante", 'Michele Campanella')
('Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder', 'Gerald Moore')
('Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3', 'Mela Tenenbaum, Pro Musica Prague & Richard Kapp')
('Respighi:Pines of Rome', 'Eugene Ormandy')
("Schubert: The Late String Quartets & String Quintet (3 CD's)", 'Emerson String Quartet')
("Monteverdi: L'Orfeo", 'C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu')
('Mozart: Chamber Music', 'Nash Ensemble')
('Koyaanisqatsi (Soundtrack from the Motion Picture)', 'Philip Glass Ensemble')

Alternatively, when we use JOINs we know what FROM clause we want, so here we make use of the [`select_from()`](https://docs.sqlalchemy.org/en/13/core/selectable.html?highlight=select_from#sqlalchemy.sql.expression.Select.select_from) method.

In [ ]:
query = select(albums.c.Title, artists.c.Name).select_from(join_stmt)

In [ ]:

result = conn.execute(query)

In [ ]:
result.fetchmany(5)

[('For Those About To Rock We Salute You', 'AC/DC'),
 ('Balls to the Wall', 'Accept'),
 ('Restless and Wild', 'Accept'),
 ('Let There Be Rock', 'AC/DC'),
 ('Big Ones', 'Aerosmith')]

### Example 4 - Group By and SQL functions

**Task - Show for each customer (name) the number of invoinces they had.**

> **Reference:** Very often we wish to apply a function on the data. Built-in SQL functions are available through the [`func` module](https://docs.sqlalchemy.org/en/13/core/tutorial.html#functions).

See here details about the [`group_by()`](https://docs.sqlalchemy.org/en/13/core/tutorial.html#ordering-grouping-limiting-offset-ing) method.

In [36]:
invoices = Table('invoices', metadata, autoload_with=engine)
customers = Table('customers', metadata, autoload_with=engine)

Let's try first without the names of the customers.

In [37]:
query = select(invoices.c.CustomerId, func.count(invoices.c.InvoiceId))\
            .select_from(invoices)\
            .group_by(invoices.c.CustomerId)

In [38]:
conn.execute(query).fetchmany(5)

[(1, 7), (2, 7), (3, 7), (4, 7), (5, 7)]

And now with the names.

In [39]:
query = select(customers.c.FirstName + " " + customers.c.LastName, func.count(invoices.c.InvoiceId))\
            .select_from(invoices.join(customers, invoices.c.CustomerId == customers.c.CustomerId))\
            .group_by(invoices.c.CustomerId)

In [40]:
conn.execute(query).fetchmany(5)

[('Luís Gonçalves', 7),
 ('Leonie Köhler', 7),
 ('François Tremblay', 7),
 ('Bjørn Hansen', 7),
 ('František Wichterlová', 7)]

## Relation to pandas

### Tables (SQLAlchemy) vs. DataFrames (pandas)

Very often we would like to save our query result as a data-frame. Luckily, the `ResultProxy.fetchall()` method returns a list of results that can be constructed as a data-frame using the standard `pd.DataFrame()` constructor.

In [41]:
query = select(albums)
result = conn.execute(query)

In [42]:
df_albums = pd.DataFrame(result.fetchall(), columns=result.keys())
df_albums.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

### Direct querying

Moreover, *pandas* offers [`pd.read_sql_query(sql, con)`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_query.html) to directly send SQL commands through a given DB connection. SQLAlchemy engine is one of the options for `con`.

In [43]:
import pandas as pd
import sqlalchemy

# Create the engine
engine = sqlalchemy.create_engine('sqlite:///chinook.db', echo=False)

# Establish a connection
conn = engine.connect()

# Define the SQL query
sql = text('''SELECT * FROM employees ORDER BY BirthDate''')

# Use pd.read_sql_query() with the connection object
df_tracks = pd.read_sql_query(sql, con=conn)

# Close the connection
#conn.close()

# Display the first few rows of the DataFrame
print(df_tracks.head())

   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           4      Park  Margaret  Sales Support Agent        2.0
1           2   Edwards     Nancy        Sales Manager        1.0
2           1     Adams    Andrew      General Manager        NaN
3           5   Johnson     Steve  Sales Support Agent        2.0
4           8  Callahan     Laura             IT Staff        6.0

             BirthDate             HireDate              Address        City  \
0  1947-09-19 00:00:00  2003-05-03 00:00:00     683 10 Street SW     Calgary
1  1958-12-08 00:00:00  2002-05-01 00:00:00         825 8 Ave SW     Calgary
2  1962-02-18 00:00:00  2002-08-14 00:00:00  11120 Jasper Ave NW    Edmonton
3  1965-03-03 00:00:00  2003-10-17 00:00:00         7727B 41 Ave     Calgary
4  1968-01-09 00:00:00  2004-03-04 00:00:00          923 7 ST NW  Lethbridge

  State Country PostalCode              Phone                Fax  \
0    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
1    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
3    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543
4    AB  Canada    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772

                      Email
0  margaret@chinookcorp.com
1     nancy@chinookcorp.com
2    andrew@chinookcorp.com
3     steve@chinookcorp.com
4     laura@chinookcorp.com

In [44]:
import pandas as pd
import sqlalchemy

# Create the engine
engine = sqlalchemy.create_engine('sqlite:///chinook.db', echo=False)

# Establish a connection
conn = engine.connect()

# Define the SQL query
sql = text('''SELECT * FROM albums''')

# Use pd.read_sql_query() with the connection object
albums = pd.read_sql_query(sql, con=conn)

# Close the connection
conn.close()

# Display the first few rows of the DataFrame
print(df_tracks.head())

   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           4      Park  Margaret  Sales Support Agent        2.0
1           2   Edwards     Nancy        Sales Manager        1.0
2           1     Adams    Andrew      General Manager        NaN
3           5   Johnson     Steve  Sales Support Agent        2.0
4           8  Callahan     Laura             IT Staff        6.0

             BirthDate             HireDate              Address        City  \
0  1947-09-19 00:00:00  2003-05-03 00:00:00     683 10 Street SW     Calgary
1  1958-12-08 00:00:00  2002-05-01 00:00:00         825 8 Ave SW     Calgary
2  1962-02-18 00:00:00  2002-08-14 00:00:00  11120 Jasper Ave NW    Edmonton
3  1965-03-03 00:00:00  2003-10-17 00:00:00         7727B 41 Ave     Calgary
4  1968-01-09 00:00:00  2004-03-04 00:00:00          923 7 ST NW  Lethbridge

  State Country PostalCode              Phone                Fax  \
0    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
1    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
3    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543
4    AB  Canada    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772

                      Email
0  margaret@chinookcorp.com
1     nancy@chinookcorp.com
2    andrew@chinookcorp.com
3     steve@chinookcorp.com
4     laura@chinookcorp.com

In [45]:
import pandas as pd
import sqlalchemy

# Create the engine
engine = sqlalchemy.create_engine('sqlite:///chinook.db', echo=False)

# Establish a connection
conn = engine.connect()

# Define the SQL table
table = "albums"
# Use pd.read_sql_query() with the connection object
albums1 = pd.read_sql_table(table, con=conn)

# Close the connection
conn.close()

# Display the first few rows of the DataFrame
print(df_tracks.head(2))

   EmployeeId LastName FirstName                Title  ReportsTo  \
0           4     Park  Margaret  Sales Support Agent        2.0
1           2  Edwards     Nancy        Sales Manager        1.0

             BirthDate             HireDate           Address     City State  \
0  1947-09-19 00:00:00  2003-05-03 00:00:00  683 10 Street SW  Calgary    AB
1  1958-12-08 00:00:00  2002-05-01 00:00:00      825 8 Ave SW  Calgary    AB

  Country PostalCode              Phone                Fax  \
0  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
1  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322

                      Email
0  margaret@chinookcorp.com
1     nancy@chinookcorp.com

In [46]:
albums1.drop('Title', axis=1).to_sql('albums_new', con=engine,if_exists='replace')

347

In [47]:
import pandas as pd
import sqlalchemy

# Create the engine
engine = sqlalchemy.create_engine('sqlite:///chinook.db', echo=False)

# Establish a connection
conn = engine.connect()

# Define the SQL table
query=text("select * from albums_new")
# Use pd.read_sql_query() with the connection object
albums1 = pd.read_sql_query(query, con=conn)
# Close the connection
#conn.close()

# Display the first few rows of the DataFrame
print(albums1.head(2))

   index  AlbumId  ArtistId
0      0        1         1
1      1        2         2

In [48]:
albums['agg'] = 1

In [49]:
albums

     AlbumId                                              Title  ArtistId  agg
0          1              For Those About To Rock We Salute You         1    1
1          2                                  Balls to the Wall         2    1
2          3                                  Restless and Wild         2    1
3          4                                  Let There Be Rock         1    1
4          5                                           Big Ones         3    1
..       ...                                                ...       ...  ...
342      343                             Respighi:Pines of Rome       226    1
343      344  Schubert: The Late String Quartets & String Qu...       272    1
344      345                                Monteverdi: L'Orfeo       273    1
345      346                              Mozart: Chamber Music       274    1
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275    1

[347 rows x 4 columns]

> **Your turn:** Exrecise01
* Part 1 - create the tables `tracks`, `albums` and `artists` both as SQLAlchemy Tables and as pandas DataFrames.
* Part 2 - Answer the following questions in two ways - using SQLAlchemy and using pandas.
>> 1. What is the size of the table `tracks`?
>> 2. Which artist has the highest number of tracks?

> Don't hesitate to look for the answers online...

Based on [`count()` documentation](https://docs.sqlalchemy.org/en/13/core/functions.html#sqlalchemy.sql.functions.count)

# Create your own DB

## Table creation

For this tutorial we will use an in-memory-only SQLite database. This is an easy way to test things without needing to have an actual database defined anywhere.

In [50]:
engine = create_engine('sqlite:///:memory:', echo=False)

We have to define a metadata object.

In [51]:
metadata = MetaData()

Next we define the schemas of the tables.

In [52]:
users = Table('users', metadata,
    Column('id', Integer),
    Column('name', String),
    Column('fullname', String),
)

In [53]:
addresses = Table('addresses', metadata,
    Column('id', Integer),
    Column('user_id', Integer),
    Column('email_address', String)
)

> **Note:** The metadata object makes sure there are no ambiguities in the database. Try to create another table with the same name and read the exception.

Finally, we use the metadata object to create all the tables.

In [54]:
metadata.create_all(engine)

## Insert data

All operations are sent to the database through the connection object.

In [55]:
conn = engine.connect()

The [`insert()`](https://docs.sqlalchemy.org/en/13/core/dml.html#sqlalchemy.sql.expression.insert) method is a wrapper for SQL's INSERT command.

In [56]:
ins = users.insert().values(id=1234, name='jack', fullname='Jack Jones')

In [57]:
str(ins)

'INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)'

In [58]:
result = conn.execute(ins)

> **Note:** This `ResultProxy` object does not contain any result.

### Testing

In [59]:
conn.execute(select(users)).fetchall()

[(1234, 'jack', 'Jack Jones')]

# Example

In this example we do the following:
1. We insert the data of the MovieLens files into two database tables.
2. We use SQLAlchemy to find the best movie (having at least 30 viewers).

## Inspect the data

In [ ]:
import sys
if 'google.colab' in sys.modules:
    from google.colab import files
    uploaded = files.upload()

In [60]:
df_movies = pd.read_csv('movies.csv')
df_movies.head()

,movieID,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [61]:
df_ratings = pd.read_csv('ratings.csv')
df_ratings.head()

   userID  movieID  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

## Creating the tables

In [62]:
engine = create_engine('sqlite:///:memory:', echo=False)
metadata = MetaData()
conn = engine.connect()

In [63]:
movies = Table('movies', metadata,
    Column('movieID', Integer),
    Column('title', String),
    Column('genres', String),
)

In [64]:
ratings = Table('ratings', metadata,
    Column('userID', Integer),
    Column('movieID', Integer),
    Column('rating', Float),
    Column('timestamp', Integer)
)

In [65]:
metadata.create_all(engine)

## Inserting the data

In [66]:
for ind, row in df_movies.iterrows():
    ins = movies.insert().values(movieID=row.movieID, title=row.title, genres=row.genres)
    conn.execute(ins)

In [67]:
conn.execute(select(movies)).fetchmany(5)

[(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (3, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'),
 (5, 'Father of the Bride Part II (1995)', 'Comedy')]

In [68]:
for ind, row in df_ratings.iterrows():
    ins = ratings.insert().values(userID=row.userID, movieID=row.movieID, rating=row.rating, timestamp=row.timestamp)
    conn.execute(ins)

In [69]:
conn.execute(select(ratings)).fetchmany(5)

[(1, 31, 2.5, 1260759144),
 (1, 1029, 3.0, 1260759179),
 (1, 1061, 3.0, 1260759182),
 (1, 1129, 2.0, 1260759185),
 (1, 1172, 4.0, 1260759205)]

## Executing the query

In [70]:
join_stmt = movies.join(ratings, ratings.c.movieID == movies.c.movieID)
join_stmt